name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  package-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Emacs
        uses: purcell/setup-emacs@master
        with:
          version: '29.4'

      - name: Install package-lint
        run: |
          emacs --batch \
            --eval "(require 'package)" \
            --eval "(add-to-list 'package-archives '(\"melpa\" . \"https://melpa.org/packages/\"))" \
            --eval "(package-initialize)" \
            --eval "(package-refresh-contents)" \
            --eval "(package-install 'package-lint)"

      - name: Run package-lint
        run: |
          emacs --batch -L . \
            --eval "(require 'package)" \
            --eval "(package-initialize)" \
            --eval "(require 'package-lint)" \
            --eval "(setq package-lint-main-file \"doing.el\")" \
            -f package-lint-batch-and-exit \
            doing.el doing-lib.el doing-now.el doing-note.el doing-finish.el \
            doing-again.el doing-cancel.el doing-current.el doing-rollover.el \
            doing-search.el doing-totals.el doing-utils.el doing-view.el \
            doing-view-commands.el

      - name: Run checkdoc
        run: |
          emacs --batch -L . \
            --eval "(or (checkdoc-file \"doing.el\") (kill-emacs 1))"
